name: Test on Push
on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
jobs:
  run_tests:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name : Setup Dotnet
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '6.0'
      - run: dotnet test
